# ----------------------
# .NET
# ----------------------
bin/
obj/
*.user
*.DotSettings.user
*.suo

# ----------------------
# SQLite
# ----------------------
*.db
*.sqlite

# ----------------------
# Xcode
# ----------------------
xcuserdata/
*.xcuserstate
*.xcworkspace

# ----------------------
# MacOS
# ----------------------
.DS_Store
